<nav class="navbar navbar-dark bg-dark justify-content-between px-4">
    <span class="navbar-brand mb-0 h1">Dashboard</span>
    <button class="btn btn-outline-light" (click)="signOut()">Logout</button>
</nav>
<section class="section">
    <div class="text-container d-flex flex-column justify-content-center text-center">
        <h1 class="h3">Welcome {{userData?.name}}</h1>
        <p class="lead">You logged in using <i class="fw-bold">{{userData?.provider | titlecase }}</i> login flow</p>
        <p>Click on top right corner button to logout</p>
    </div>
</section>