<section class="container-md">
    <div class="row justify-content-center align-items-center m-auto">
        <div class="col-md-6">
            <div class="border rounded-lg m-4 p-4 text-center">
                <h1 class="text-uppercase">Social Login</h1>
                <div class="v-stack">
                    <button role="button" class="btn btn-outline-primary" aria-label="google-login"
                        (click)="signInWithGoogle()">Google Login</button>
                </div>
            </div>
        </div>
    </div>
</section>